//@import 'maplibre-gl/dist/maplibre-gl.css';
//@import '../../public/assets/styles/mapbox-gl-js-v3.0.1.css';

body { margin: 0; padding: 0; }
html, body { height: 100%; }
#map { position: absolute; top: 0; bottom: 0; width: 100%;}

.infoContainer {
  color: darkblue;
  z-index: 1;
  background-color: #858e96;
  //position: absolute;
    // position the element absolutely
    // in the bottom left corner.
    // max width of 1/4 viewport width,
    // max heigh 1/2 viewport width
      position: absolute;
      top: 0;
      left: 0;
      max-width: 25vw;
      max-height: 100vh;
      overflow: auto;
      background-color: white;
      padding: 10px;
      border-radius: 0px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      z-index: 9999;
  //font-size: 22px;
  //font-family: sans-serif;
  //width: 80%;
  //height: 26px;
  //left: 0;
  //right: 0;
  //top: 0;
  //margin: 10px auto;
  //border-radius: 3px;
  //padding: 8px;
  ////-webkit-backdrop-filter: blur(10px);
  ////backdrop-filter: blur(10px);
  //text-align: center;
}

.sliderContainer {
  z-index: 1;
  background-color: #858e9622;
  position: absolute;
  font-size: 30px;
  font-family: sans-serif;
  padding: 10px;
  width: 80%;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px auto;
  border-radius: 3px;
  backdrop-filter: blur(10px);
}

